/* Welcomepage.css */

.welcome-header {
  background-color: #fefefe;
  min-height: 100px; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(6, 30, 7);
}

.portal-name {
  font-size: 3em; /* Adjust the font size as needed */
  margin-bottom: 20px; 
  color: #219112;/* Add some bottom margin */
  animation: fadeOut 2s ease forwards, fadeIn 2s ease 5s forwards, none 8s forwards; /* Apply fade out and fade in animation */
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.welcome-main {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

.welcome-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-text {
  flex: 1;
}

.welcome-image img {
  max-width: 100%;
  height: auto;
}

.login-button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #45a049;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 20px;
  right: 20px;
}
